html, body {
  padding: 0;
  margin: 0;
  outline: none;
}

.naked {
  padding: 0;
  margin: 0;
  outline: none;
}

.title {
  height: 50px;
  background-color: #b3e1ec;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 200;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
}

#mainContainer {
  padding: 0;
  border: 0;
}

button:hover {
  cursor: pointer;
}

button:active {
  cursor: pointer;
}

.optionsButton {
  height: 45px;
  width: 125px;
  border-radius: 5px;
  background-color: white;
  margin-left: 10px;
  border: 3px solid #b3e1ec;
  outline: none;
  position: relative;
}
.optionsButton > div {
  position: absolute;
  width: 25px;
  height: 33px;
  vertical-align: middle;
  line-height: 35px;
  top: 2px;
}

.buttonGroup {
  border: 3px solid #b3e1ec;
  border-radius: 4px;
  margin-left: 10px;
  padding: 3px 5px;
}

.degreesButton {
  width: 50px;
  height: 30px;
  border-radius: 4px;
}

.normalButton {
  width: 120px;
  height: 33px;
  border-radius: 4px;
}

.clickedButton {
  background-color: #39b1cd;
  font-size: 12px;
  font-weight: 700;
}

.unclickedButton {
  background-color: white;
  font-size: 12px;
  color: lightgrey;
}

#firstContainerOptions {
  height: 50px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

canvas {
  outline: 0;
  padding: 0;
}

.canvasContainer {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.variables {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.variablesContainer {
  display: flex;
  flex-direction: row;
  width: 25%;
}

.variablesContainer:first-child {
  margin-left: 5px;
}

.variablesUnit {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}
.variablesUnit > div {
  margin: 0 3px 3px 3px;
}

/* .variablesUnit>div{
  width:60%;
} */
.variablesUnit > input, #temperature {
  width: 45px;
  margin-left: 10px;
  text-align: center;
}

.results {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.results > div {
  display: flex;
  flex-direction: row;
}

.values {
  background-color: cadetblue;
  width: 40px;
  height: 20px;
  text-align: right;
  padding-right: 5px;
}

.resultsLabel {
  padding-right: 10px;
}

.resultsClip {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* The div with the current temperature */
.currentTemp {
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 0;
}

.currentTempLabel {
  justify-content: center;
  line-height: 48px;
  padding: 0 5px;
}

.currentTempContainer {
  width: 370px;
  height: 48px;
}

.emptyTop {
  height: 24px;
  position: relative;
}

.currentTempControls {
  display: flex;
  flex-direction: row;
  height: 24px;
}

.sliderButtonDisplay {
  width: 40px;
  height: 24px;
  position: absolute;
  top: 0;
  opacity: 0.5;
  text-align: center;
  left: 120px;
}

.sliderArrow {
  width: 30px;
  background-color: #b3e1ec;
  color: white;
  text-align: center;
  font-weight: 900;
  cursor: pointer;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  height: 24px;
  width: 224px;
  background-image: linear-gradient(to right, #dcf1f6, #b3e1ec 100%);
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  background: #206d80;
  border-radius: 15%;
  cursor: pointer;
}
.slider::-webkit-slider-thumb:hover {
  background: #164b57;
}

.vertical {
  transform: rotate(90deg);
  margin-top: 110px;
}

.sliders {
  display: flex;
  flex-direction: row;
  height: 224px;
}

.sliderVertContainer {
  height: 260px;
  width: 200px;
  position: relative;
}

.sliderVertLabel {
  margin: 0;
  outline: 0;
  height: 18px;
}

.antiTampering {
  position: absolute;
  height: 260px;
  width: 200px;
  top: 0;
  left: 0;
  z-index: 1000;
}

.sliderVertTransmRange {
  position: absolute;
  width: 40px;
  left: 63px;
  display: flex;
  flex-direction: column;
  z-index: 2;
}
.sliderVertTransmRange > div {
  width: 40px;
  text-align: right;
}

#middle1, #middle2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.middleColor {
  background-color: cadetblue;
  width: 10px;
  opacity: 0.5;
}

.sliderVertVal {
  position: absolute;
  height: 24px;
  left: 80px;
  top: 28px;
  display: flex;
  flex-direction: row;
  z-index: -10;
}

.thinLineContainer {
  width: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.thinLine {
  height: 0px;
  border: 1px solid;
  width: 21px;
}

.slidingValueBottom {
  height: 24px;
  vertical-align: middle;
  line-height: 24px;
  background-color: #8ad1e2;
  min-width: 20px;
  padding: 0 2px;
}

[id^=qm] {
  position: absolute;
  min-width: 30px;
  height: 24px;
  background-color: #e4f4f8;
  left: 130px;
  height: 20px;
  z-index: -100;
  padding: 3px;
}

[id^=qmin] {
  top: 18px;
}

[id^=qmax] {
  top: 238px;
}

.author {
  position: absolute;
  left: 1000px;
}

/*# sourceMappingURL=style.css.map */
