$primary-color: rgb(179, 225, 236);

html, body {
  padding: 0;
  margin: 0;
  outline: none;
}

.naked{
  padding: 0;
  margin: 0;
  outline: none;
}

.title {
  height: 50px;
  background-color: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 200;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
}

#mainContainer{
  padding: 0;
  border: 0;
}

button:hover{
  cursor: pointer;
}

button:active{
  cursor: pointer;
}

.optionsButton{
  height: 45px;
  width: 125px;
  border-radius: 5px;
  background-color: white;
  margin-left: 10px;
  border: 3px solid rgb(179, 225, 236);
  outline: none;
  position: relative;
  &>div{
    position: absolute;
    width: 25px;
    height: 33px;
    vertical-align: middle;
    line-height: 35px;
    top: 2px;

  }
}

.buttonGroup{
  border: 3px solid $primary-color;
  border-radius: 4px;
  margin-left: 10px;
  padding: 3px 5px;
}

.degreesButton{
  width: 50px;
  height: 30px;
  border-radius: 4px;
}

.normalButton{
  width: 120px;
  height: 33px;
  border-radius: 4px;
}

.clickedButton{
  background-color: darken($primary-color, 30%);
  font-size: 12px;
  font-weight: 700;
}

.unclickedButton{
  background-color: lighten($primary-color, 30%);
  font-size: 12px;
  color: lightgrey;
}

//First container*****************************************************************************************

#firstContainerOptions{
  height: 50px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

canvas {
  outline: 0;
  padding: 0;
  // background-color: burlywood;
}

.canvasContainer{
  display:flex;
  justify-content: center;
  padding: 5px;
}

.variables{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.variablesContainer{
  display: flex;
  flex-direction: row;
  width: 25%;
}

.variablesContainer:first-child{
  margin-left:5px;
}

.variablesUnit{
  display:flex;
  flex-direction: column;
  /* justify-content: center; */
  &>div{
    margin: 0 3px 3px 3px;
  }
}

/* .variablesUnit>div{
  width:60%;
} */

.variablesUnit>input, #temperature{
  width: 45px;
  margin-left: 10px;
  text-align: center;
  // background-color: $primary-color;
  // border: none;
}

//Results section_________________________________________________________________________________
.results{
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  &>div{
    display: flex;
    flex-direction: row;
  }
}

.values{
  background-color: cadetblue;
  width: 40px;
  height: 20px;
  text-align: right;
  padding-right: 5px;
}

.resultsLabel{
  padding-right: 10px;
}

.resultsClip{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

//Current temperature section________________________________________________________________________

/* The div with the current temperature */
.currentTemp{
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 0;
}

.currentTempLabel{
  justify-content: center;
  line-height: 48px;
  padding: 0 5px;
}

.currentTempContainer{
  width: 370px;
  height: 48px;
  // background-color: purple;
}

.emptyTop{
  height: 24px;
  position: relative;
}

.currentTempControls{
  display: flex;
  flex-direction: row;
  height: 24px;
}

//Temperature slider stuff_______________________________________________________________________________

.sliderButtonDisplay{
  width: 40px;
  height: 24px;
  position:absolute;
  top: 0;
  // background-color: rgb(0, 0, 255);
  opacity: 0.5;
  text-align: center;
  left: 120px;
}

.sliderArrow{
  width: 30px;
  background-color: $primary-color;
  color: white;
  text-align: center;
  font-weight: 900;
  cursor: pointer;
}

.slider{
  -webkit-appearance: none;
  appearance: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  height: 24px;
  width: 224px;
  background-image: linear-gradient(to right, lighten($primary-color, 10%), $primary-color 100%);
}

.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  background: darken($primary-color, 50%);
  border-radius: 15%;
  cursor: pointer;
  &:hover{
    background: darken($primary-color, 60%);
  }
}

//**********************************************************************************************************
//***************************************SLIDERS************************************************************
.vertical{
  // width: 24px;
  // height: 120px;
  // -webkit-appearance: slider-vertical;
  // background-image: linear-gradient(to bottom, lighten($primary-color, 10%), $primary-color 100%);
  transform: rotate(90deg);
  margin-top: 110px;
  // -webkit-transform:rotate(90deg);
}

.sliders{
  display: flex;
  flex-direction: row;
  height: 224px;
}


.sliderVertContainer{
  height: 260px;
  width: 200px;
  position: relative;
  // border: 1px solid red;
  // &>input{
  //   outline: 0;
  //   margin: 0;
  // }
}

.sliderVertLabel{
  margin: 0;
  outline: 0;
  height: 18px;
}

.antiTampering{
  position: absolute;
  height: 260px;
  width: 200px;
  top: 0;
  left: 0;
  z-index: 1000;
}

//***********************************************RANGE ON BOTTOM SLIDERS******************************************
//****************************************************************************************************************
.sliderVertTransmRange{
  position: absolute;
  width: 40px;
  // height: 40px;
  // background-color: chartreuse;
  left: 63px;
  display: flex;
  flex-direction: column;
  z-index: 2;
  &>div{
    width: 40px;
    text-align: right;
  }
}

#middle1, #middle2{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.middleColor{
  background-color: cadetblue;
  width: 10px;
  opacity: 0.5;
  // border:1px solid red;
}

//***********************************VALUE DISPLAY ON BOTTOM SLIDERS*********************************************
//***************************************************************************************************************

.sliderVertVal{
  position: absolute;
  height: 24px;
  // background-color: cadetblue;
  left: 80px;
  top: 28px;//
  // width:90px;
  display: flex;
  flex-direction: row;
  z-index: -10;
}

.thinLineContainer{
  width: 50px;
  // background-color: cornflowerblue;//
  display: flex;
  // flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.thinLine{
  height: 0px;
  border: 1px solid;
  // align-self: center;
  width: 21px;
}

.slidingValueBottom{
  height: 24px;
  // text-align: center;
  vertical-align: middle;
  line-height: 24px;
  background-color: darken($primary-color, 10%);//
  min-width: 20px;
  padding: 0 2px;
}

//*********************************************MAX AND MIN VALUE FOR BOTTOM SLIDERS*******************************
//****************************************************************************************************************

[id^='qm']{
  position: absolute;
  min-width: 30px;
  height: 24px;
  background-color: lighten($primary-color, 12%);
  left: 130px;
  height: 20px;
  z-index: -100;
  padding: 3px;
}

[id^='qmin']{
  top: 18px;
}

[id^='qmax']{
  top: 238px;
}

//Author
.author{
  position: absolute;
  left: 1000px;
}