html, body {
  padding: 0;
  margin: 0;
  outline: none;
}

.naked {
  padding: 0;
  margin: 0;
  outline: none;
}

.title {
  height: 50px;
  background-color: #b3e1ec;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 200;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
}

#mainContainer {
  padding: 0;
  border: 0;
}

.optionsButton {
  height: 40px;
  width: 125px;
  border-radius: 5px;
  background-color: white;
  margin-left: 10px;
  border: 3px solid #b3e1ec;
  outline: none;
}

.optionsButton:hover {
  background-color: #f0efef;
  cursor: pointer;
}

#firstContainerOptions {
  height: 50px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

canvas {
  /* border: 2px solid; */
  outline: 0;
  padding: 0;
}

.canvasContainer {
  display: flex;
  justify-content: center;
}

.variables {
  display: flex;
  flex-direction: row;
}

.variablesContainer {
  display: flex;
  flex-direction: row;
  width: 25%;
}

.variablesContainer:first-child {
  margin-left: 5px;
}

.variablesUnit {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

/* .variablesUnit>div{
  width:60%;
} */
input {
  width: 55px;
  margin-left: 10px;
  text-align: center;
}

.results {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.values {
  background-color: cadetblue;
  width: 40px;
  height: 20px;
}

.resultsLabel {
  padding-right: 10px;
}

.resultsClip {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* The div with the current temperature */
.currentTemp {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px 0;
}

.currentTempLabel {
  justify-content: center;
  line-height: 50px;
}

.currentTempContainer {
  width: 350px;
  height: 50px;
}

.emptyTop {
  height: 25px;
  position: relative;
}

.currentTempControls {
  display: flex;
  flex-direction: row;
  height: 25px;
}

.sliderButtonDisplay {
  width: 40px;
  height: 25px;
  position: absolute;
  top: 0;
  background-color: blue;
  opacity: 0.5;
  text-align: center;
}

.sliderArrow {
  width: 30px;
  background-color: #b3e1ec;
  color: white;
  text-align: center;
  font-weight: 900;
}

.currentTempSlider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 25px;
  width: 224px;
  background-image: linear-gradient(to right, #dcf1f6, #b3e1ec 100%);
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.currentTempSlider:hover {
  opacity: 1;
}

.currentTempSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 25px;
  background: #206d80;
  border-radius: 15%;
  cursor: pointer;
}
.currentTempSlider::-webkit-slider-thumb:hover {
  background: #164b57;
}

.sliderButtonHandle {
  position: absolute;
  top: 0;
  width: 20px;
  height: 25px;
  background-color: #61c1d8;
  cursor: pointer;
}

.example {
  width: 40px;
  height: 120px;
  -webkit-appearance: slider-vertical;
}

/*# sourceMappingURL=style.css.map */
