html, body {
  padding: 0;
  margin: 0;
  outline: none;
}

.naked {
  padding: 0;
  margin: 0;
  outline: none;
}

.title {
  height: 50px;
  background-color: #b3e1ec;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 200;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
}

#mainContainer {
  padding: 0;
  border: 0;
}

.optionsButton {
  height: 40px;
  width: 125px;
  border-radius: 5px;
  background-color: white;
  margin-left: 10px;
  border: 3px solid #b3e1ec;
  outline: none;
}

.optionsButton:hover {
  background-color: #f0efef;
  cursor: pointer;
}

#firstContainerOptions {
  height: 50px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

canvas {
  outline: 0;
  padding: 0;
}

.canvasContainer {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.variables {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.variablesContainer {
  display: flex;
  flex-direction: row;
  width: 25%;
}

.variablesContainer:first-child {
  margin-left: 5px;
}

.variablesUnit {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}
.variablesUnit > div {
  margin: 0 3px 3px 3px;
}

/* .variablesUnit>div{
  width:60%;
} */
.variablesUnit > input, #temperature {
  width: 55px;
  margin-left: 10px;
  text-align: center;
}

.results {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.values {
  background-color: cadetblue;
  width: 40px;
  height: 20px;
}

.resultsLabel {
  padding-right: 10px;
}

.resultsClip {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* The div with the current temperature */
.currentTemp {
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 0;
}

.currentTempLabel {
  justify-content: center;
  line-height: 48px;
  padding: 0 5px;
}

.currentTempContainer {
  width: 350px;
  height: 48px;
}

.emptyTop {
  height: 24px;
  position: relative;
}

.currentTempControls {
  display: flex;
  flex-direction: row;
  height: 24px;
}

.sliderButtonDisplay {
  width: 40px;
  height: 24px;
  position: absolute;
  top: 0;
  opacity: 0.5;
  text-align: center;
  left: 120px;
}

.sliderArrow {
  width: 30px;
  background-color: #b3e1ec;
  color: white;
  text-align: center;
  font-weight: 900;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  height: 24px;
  width: 224px;
  background-image: linear-gradient(to right, #dcf1f6, #b3e1ec 100%);
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  background: #206d80;
  border-radius: 15%;
  cursor: pointer;
}
.slider::-webkit-slider-thumb:hover {
  background: #164b57;
}

.vertical {
  transform: rotate(90deg);
  margin-top: 110px;
}

.sliders {
  display: flex;
  flex-direction: row;
  height: 240px;
}

.sliderVertContainer {
  height: 260px;
  width: 200px;
  position: relative;
}

.sliderVertTransmRange {
  position: absolute;
  width: 40px;
  background-color: chartreuse;
  left: 63px;
}

.sliderVertRangeVal {
  height: 24px;
  width: 40px;
}

.sliderVertRangeMiddle {
  width: 40px;
}

/*# sourceMappingURL=style.css.map */
